:host{
    display: flex;
    box-sizing: border-box;
    background-color: #191C24;
    width: 100%;
}
h1{
    color: white;
    flex: 70%;
    padding: 0.5em;
}
button{
    background-color: #191C24;
    border: 0;
    margin: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}
